@model AppWebBeachSA.Models.Paquete

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar paquete</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePaquete" class="control-label"></label>
                <input asp-for="NombrePaquete" class="form-control" />
                <span asp-validation-for="NombrePaquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcentajePrima" class="control-label"></label>
                <input asp-for="PorcentajePrima" class="form-control" />
                <span asp-validation-for="PorcentajePrima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteMeses" class="control-label"></label>
                <input asp-for="LimiteMeses" class="form-control" />
                <span asp-validation-for="LimiteMeses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
