@{
    ViewData["Title"] = "Sobre nosotros";
}
<!DOCTYPE html>
<html lang="es">
<head class="">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sobreNosotros.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/AppWebBeachSA.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="bg-color">
        <div class="container mt-5">
            <div class="position-bienvenida">
                <h1>Bienvenido al Hotel Beach</h1>
                <h5 class="mt-3">¡Somos el Hotel Beach, donde el mar y la vida se fusionan en un ambiente único! 
                    Nos encantaría saber sobre tu próxima estadía con nosotros. Aquí encontrarás todo lo 
                    necesario para planificar tu inolvidable experiencia en nuestro hermoso complejo turístico.</h5>
            </div>
        </div>
        <div class="container mt-5">
            <h6>Contamos con los mejores servicios e instalaciones de la zona:</h6>
            <ul>
                <li>
                    <p>Alojamientos: elegir entre suites o habitaciones confortables y modernas.</p>
                </li>
                <li>
                    <p>Restaurantes: disfruta de las especialidades culinarias locales y internacionales en nuestras opciones gastronómicas.</p>
                </li>
                <li>
                    <p>Piscinas: relájate en nuestras piscinas de aguas cristalinas y refrescantes.</p>
                </li>
                <li>
                    <p>Playas privadas: accede a nuestras playas exclusivas, perfectas para practicar deportes acuáticos o simplemente descansar.</p>
                <li>
                    <p>Centro de Wellness: renuevete con masajes, tratamientos y sesiones de yoga.</p>
                </li>
                <li>
                    <p>Eventos: organiza reuniones, bodas o celebraciones en nuestras salas de eventos.</p>
                </li>
            </ul>
        </div>
        <div class="container mt-5">
            <h6>¡Esperamos verte pronto en Hotel Beach! </h6>
        </div>
    </section>
</body>
</html>