html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    color: darkcyan;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p, li, h6, label, td, input, option, select, dt,dd{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#FormularioLogin {
    padding: 1em;
}

.Formularios {
    margin: 0 auto;
    width: auto;
    text-align: left;
    color: #393939;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #cDcDcD;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #BDBDBD;
    padding: 1em;
}

.form-size {
    width: 100% !important;
}

a {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

    a:hover {
        color: darkcyan !important;
        font-weight: 400;
    }

///Fonts

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

///Fonts

