@model AppWebBeachSA.Models.Empleado

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head class="fondo">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppWebBeachSA.styles.css" asp-append-version="true" />
</head>
<body>
    @* formulario de autenticacion *@
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
            </div>

            <div class="col-sm-4 bg-color">
                <h1 class="text-center">
                    Iniciar sesión
                </h1>
                <hr />
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Mensaje</strong> @TempData["Mensaje"].
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["MensajeSesion"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Mensaje</strong> @TempData["MensajeSesion"].
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form asp-controller="Empleados" asp-action="Login" id="FormularioLogin">
                    <div class="form-group">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input type="password" asp-for="Password" class="form-control input" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <p class="pt-3">Ingresar como <a asp-controller="Clientes" asp-action="Login">cliente</a></p>
                    </div>
                    <div class="col-auto pt-4 text-center">
                        <input type="submit" value="Aceptar" class="btn boton" />
                    </div>
                </form>
            </div>

            <div class="col-sm-4">
            </div>

        </div>
    </div>
</body>